.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

figure {
  position: relative;
  overflow: hidden;
  align-items: center;
  display: flex;
}

img {
  display: block;
  width: 100%;
}
